<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your New Pupper!</title>
  </head>
  <body>
    <h1>The new pup!</h1>
    <h2>Name: <%=@puppy.name%><h2>
    <h2>Breed: <%=@puppy.breed%><h2>
    <h2>Age: <%=@puppy.months_old%> months<h2>
  </body>
</html>
